.contact-med {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.contact-box {
  background: var(--color-bg-variant);
  border-radius: 0.8rem;
  width: 15rem;
  height: 10rem;
  text-align: center;
  border: 1px solid var(--color-bg-variant);
}
.contact-box:hover {
  background: transparent;
  transition: var(--transition);
}
.contact-med svg {
  margin-top: 2rem;
  color: var(--color-primary);
  height: 1.5rem;
  width: 1.5rem;
}
.contact-container {
  justify-content: center;
  display: grid;
  grid-template-columns: 30% 58%;
  grid-gap: 12%;
}
.contact-box > h3,
h5 {
  margin-top: 0.4rem;
}
.mailing-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  background: transparent;
  color: #fff;
  height: 13vh;
  border: 0.1rem solid;
  border-radius: 0.75rem;
  font-size: 1rem;
  margin: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  resize: none;
  transition: all 0.5s ease-out;
}
.message {
  min-height: 30vh;
  text-align: left;
}
input:optional {
  border-color: gray;
}
input:required:valid {
  border-color: green;
}
input:invalid {
  border-color: red;
}
input:required:focus:valid {
  background: url('https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg')
    no-repeat 95% 50% lightgreen;
  background-size: 25px;
}
input:focus:invalid {
  background: url('https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg')
    no-repeat 95% 50% lightsalmon;
  background-size: 25px;
}
.btn-send {
  margin: 0.5rem;
}
@media screen and (max-width: 600px) {
  .contact-container {
    grid-template-columns: 1fr;
    width: var(--container-width-sm);
    gap: 0.5rem;
  }
  .mailing-form form {
    gap: 0.5rem;
  }
}
